#artigos {
    background: url("../../core/templates/psy/img/fundos/m.png") center fixed;
    background-size: cover;
}

#artigos > div {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media (min-width: 1024px) {
    #artigos > div {
        margin: auto;
        width: var(--largura-maxima);
    }
}

#artigos h2 {
    flex: 1 1 100%;
    font-size: 1.94rem;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#artigos .artigo {
    flex: 0 1 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    #artigos .artigo {
        flex: 0 1 50%;
    }
}

@media (min-width: 1024px) {
    #artigos .artigo {
        flex: 0 1 calc(100% / 3);
    }
}

#artigos .artigo .card {
    background: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    padding: 1rem 0;
    height: calc(100% - 2rem);
}

#artigos .artigo h3 {
    font-family: "Times New Roman", serif;
    text-align: center;
    margin: 0 1rem;
}

#artigos .artigo time {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #8b949c;
}

#artigos .artigo img {
    display: block;
    width: 100%;
    margin: 2rem 0;
}

#artigos .botoes {
    margin-left: 1rem;
    margin-right: 1rem;
}
