main {
    width: 100%;
}

.carrossel {
    height: var(--altura-util);
    overflow: hidden;
}

.carrossel img {
    height: 100%;
    display: block;
}

@media (min-width: 1024px) {
    .carrossel img {
        height: auto;
        width: 100%;
    }
}