:root {
    --largura-maxima: 1007px;
    --altura-util: calc(100vh - 3.5rem);
}

@media (min-width: 1024px) {
    :root {
        --altura-util: calc(100vh - 9.5rem);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.oculto, .oculta {
    display: none !important;
}

a {
    text-decoration: none;
    color: #275062;
}

a[href] {
    cursor: pointer;
}

html, body {
    overflow: auto;
}

h1, h2, h3 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem;
    color: #fd7062;
}

h2 {
    font-size: 1.25rem;
    margin: 1rem;
    color: #fd7062;
}

input {
    outline: none;
    padding: 1rem;
    background: white;
    border: 1px solid #eee;
    color: #666;
}

header {
    height: 3.5rem;
    display: flex;
}

#hamburguer {
    flex: 0 0 3.5rem;
    height: 3.5rem;
    background: url("../img/menu.svg") no-repeat center;
    background-size: 62.5%;
}

#logo {
    flex: 1 1 auto;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fd7062;
}

@media (min-width: 1024px) {
    #logo {
        height: 6rem;
    }
}

#call {
    flex: 0 0 3.5rem;
    height: 3.5rem;
    background: url("../img/phone.svg") no-repeat center;
    background-size: 50%;
}

header .contato {
    flex-flow: column nowrap;
    top: 3.5rem;
    right: 2rem;
    position: absolute;
    z-index: 100;
    background: #414447;
    border-radius: 2px;
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: ease 0.25s;
}

header .contato div {
    padding-left: 2.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

header .contato div.phone {
    background: url("../img/phone-white.svg") left center no-repeat;
    background-size: contain;

}

header .contato div.phone a {
    color: white;
    font-size: 1.25rem;
}

header .contato div.clock {
    background: url("../img/clock-white.svg") left center no-repeat;
    background-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

header .contato div.home {
    background: url("../img/home-white.svg") left top 5px no-repeat;
    background-size: 1.5rem;
}

header .contato div:last-child {
    padding-bottom: 0;
}

header .contato.visivel {
    display: flex !important;
    right: 0rem;
    opacity: 1;
}

@media (min-width: 1024px) {

    header > .contato, header > .contato.visivel {
        position: static;
        top: auto;
        right: auto;
        background: white;
        color: #8b949c;
        flex-flow: row nowrap;
        padding: 0;
        opacity: 1;
    }
}

menu {
    position: absolute;
    top: 3.5rem;
    width: 16rem;
    background: #414447;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    left: -16rem;
    transition: ease 0.2s;
}

menu.visivel {
    left: 0;
}

menu a {
    color: white;
    font-size: 1.1rem;
    padding: 1rem 2rem 1rem 1rem;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

menu a:active {
    background: #fd7062;
}

menu a.sub {
    background: url("../img/arrow-down-white.svg") no-repeat right 0.5rem center;
}

menu div.sub {
    display: none;
    flex: 0 0 auto;
    padding-left: 1rem;
}

menu .sub.visivel {
    display: flex;
    flex-flow: column nowrap;
}

main {
    margin: 0 1rem;
    min-height: calc(100vh - 3.5rem);
}

#wp-menu {
    z-index: 100;
}

@media (min-width: 1024px) {

    html, body {
        min-height: calc(100% - 3.5rem);
    }

    #logo {
        flex: 0 1 25%;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    #hamburguer, #call {
        display: none;
    }

    header {
        height: 6rem;
        margin-top: 3.5rem;
        width: var(--largura-maxima);
        margin-left: auto;
        margin-right: auto;
    }

    header > .contato {
        display: flex;
        flex: 0 1 75%;
        flex-flow: row nowrap;
    }

    header > .contato > div {
        flex: 1 1 calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    header > .contato > div.home {
        padding-left: 0;
        background: url("../img/home-gray.svg") left center no-repeat;
        background-size: 1.75rem;
    }

    header > .contato > div.clock {
        padding-left: 0;
        background: url("../img/clock-gray.svg") left 0.5rem center no-repeat;
        background-size: 1.5rem;
    }

    header > .contato > div.phone {
        padding-left: 0;
        background: url("../img/phone-gray.svg") left 2.5rem center no-repeat;
        background-size: 1.4rem;
        justify-content: flex-end;
    }

    header > .contato > div.phone > a {
        font-size: 1.6rem;
        color: #fd7062;
    }

    #wp-menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 3.5rem;
        width: calc(100vw - 17px);
        background: #8b949c;
    }

    .touch #wp-menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 3.5rem;
        width: 100vw;
        background: #8b949c;
    }

    menu, menu.visivel {
        height: 3.5rem;
        position: static;
        width: var(--largura-maxima);
        margin-left: auto;
        margin-right: auto;
        flex-flow: row nowrap;
        overflow: visible;
        transition: none;
        background: transparent;
        justify-content: space-between;
    }

    menu > a {
        transition: all 0.5s ease;
        padding: 1rem 2rem 1rem 1rem;
    }

    menu > a:last-child {
        padding-right: 0;
    }

    menu a {
        font-size: 0.9rem;
    }

    menu div a {
        padding: 0.5rem 0.5rem;
    }

    menu div a:first-child {
        padding-top: 0;
    }

    menu div a:last-child {
        padding-bottom: 0;
    }

    menu > a:hover {
        background: #9da7b0;
        text-shadow: 2px 2px 8px #333;
    }

    menu > a.sub:hover {
        background: url("../img/arrow-down-white.svg") no-repeat right 0.5rem center #9da7b0;
    }

    menu div.sub {
        display: none;
        position: absolute;
        top: 3.5rem;
        left: 0;
        background: white;
        box-shadow: 0 0 16px #666;
        border-top: 3px solid #fd7062;
        padding: 1rem;
    }

    menu div.sub.visivel {
        display: flex;
        flex-flow: column nowrap;
    }

    menu div.sub a {
        color: #8b949c;
    }

    menu div.sub a:hover {
        color: #275062;
    }

    menu div.sub a:active {
        background: white;
    }

    main {
        width: var(--largura-maxima);
        margin-left: auto;
        margin-right: auto;
        min-height: calc(100vh - 3.5rem - 6rem);
    }

}

.botoes {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;
}

.botoes > a {
    background: #8b949c;
    color: white;
    padding: 0.75rem 1.25rem;
    margin: 0.25rem 0;
    text-align: center;
    cursor: default;
}

.botoes > a[href] {
    cursor: pointer;
}

.botoes > a.importante {
    background: #fd7062;
}

@media (min-width: 768px) {
    .botoes {
        flex-flow: row wrap;
        justify-content: center;
    }

    .botoes > a {
        margin-right: 0.5rem;
    }
}

#wp-footer {
    background: #f2f4f7;
}

footer {
    padding: 3rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
}

footer > .logo {
    flex: 1 1 100%;
}

footer > .logo a {
    display: block;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fd7062;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer > .logo p {
    margin: 0 1rem;
    font-size: 0.75rem;
    color: #8b949c;
    font-family: "Times New Roman", serif;
    text-align: justify;
}

footer > .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1rem 0;
}

footer > .menu a {
    padding: 0.5rem 1rem;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    color: #275062;
}

footer > .contato {
    flex: 1 1 100%;
    margin: 1rem 0;
}

footer > .contato p {
    padding: 0.5rem 3.5rem;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

footer > .contato p.home {
    background: url("../img/home-gray.svg") left 1rem center no-repeat;
}

footer > .contato p.phone {
    background: url("../img/phone-gray.svg") left 1rem center no-repeat;
}

footer > .contato p.phone a {
    display: block;
    color: #fd7062;
    font-weight: bold;
    font-size: 1.2rem;
}

footer > .contato p.clock {
    background: url("../img/clock-gray.svg") left 1rem center no-repeat;
}

#wp-footer .marca {
    padding: 1rem;
    background: #8b949c;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

@media (min-width: 1024px) {
    #wp-footer .marca {
        margin-bottom: 0;
    }
}

#wp-footer .marca a {
    color: white;
    text-decoration: underline;
    font-size: 0.8rem;
}

@media (min-width: 768px) {

    footer > .logo p {
        font-size: 1rem;
    }

    footer > .menu {
        flex: 0 0 60%;
        flex-flow: column wrap;
        height: 14rem;
        justify-content: flex-start;
    }

    footer > .contato {
        flex: 0 0 40%;
    }
}

@media (min-width: 1024px) {
    footer {
        width: var(--largura-maxima);
        margin: auto;
    }

    footer > .logo {
        flex: 0 0 25%;
    }

    footer > .logo a {
        text-align: left;
    }

    footer > .logo p {
        margin: 0;
    }

    footer > .menu {
        flex: 0 0 calc(50% - 6rem);
        margin-left: 6rem;
    }

    footer > .contato {
        flex: 0 0 25%;
    }

}

#to-top {
    position: fixed;
    bottom: 0.25rem;
    right: 0.25rem;
    width: 3rem;
    height: 3rem;
    background: url("../img/arrow-up-white.svg") #fd7062 center no-repeat;
    border-radius: 50%;
    display: none;
    opacity: 0.75;
}

#to-top:hover {
    opacity: 1;
}

#to-top.visivel {
    display: block;
}

@media (min-width: 1024px) {
    #to-top.visivel, #to-top.visivel {
        display: none;
    }
}